body {
	background-color: #253a67;
}

hr {
	border-style: none;
	border-top-style: dotted;
	border-color: #f69e7b;
	border-width: 5px;
	width: 10%;
}

img {
	height: 200px;
	border-radius: 50%;
}

h1 {
	color: #f69e7b;
}

h3 {
	color: #d4b5b0;
}

p, ul, table, a {
	color: #eedad1;
}


